## Freedom Ranking for Different Countries

You can get the dataset from [here](https://drive.google.com/drive/folders/1wr0J571rlfexEJ4-de6_tz1QvU-cJ0df?usp=share_link).

Some feature details of the dataset:

| Feature | Description |
| :--: | :-- |
| A | Electoral Process |
| B | Political Pluralism and Participation |
| C | Functioning of Government |
| D | Freedom of Expression and Belief |
| E | Associational and Organizational Rights |
| F | Rule of Law |
| G | Personal Autonomy and Individual Rights |
| CL | Civil Liberties Scores |
| Status | F=Free, PF=Partly Free, NF=Not Free |


### `Q-1` Find out top 10 countries' which have maximum A and D values.


### `Q-2` Find out highest CL value for 2020 for every region. Also sort the result in descending order. Also display the CL values in descending order.

In [ ]:
#Q1
select a.country,a,d from 
(select `Country`,a from country_ab order by a desc limit 10) a
left join
(select `Country`, d from country_cd order by d desc limit 10) b
on a.Country=b.Country
union
select b.country,a,d from 
(select `Country`,a from country_ab order by a desc limit 10) a
right join
(select `Country`, d from country_cd order by d desc limit 10) b
on a.Country=b.Country

In [ ]:
select * from country_ab

In [ ]:
select * from country_cl where Edition =2020

In [ ]:
select `Country`, max(CL) from country_cl where `Edition`=2020 group by `Country`

In [ ]:
select ab.Region, max(cl.`CL`) as max_cl from 
country_ab ab join country_cl cl on ab.`Country`=cl.`Country` 
where cl.`Edition`=2020
group by ab.`Region` order by max_cl desc

## Dataset
Data Link-> https://drive.google.com/drive/folders/1bGgNTDy5L_IodNcGHdB_SNCkUI5MUjmY?usp=share_link
Four Tables:
* Customer
* Employee
* Sales
* Products

### `Q-3` Find top-5 most sold products.

### `Q-4:` Find sales man who sold most no of products.

### `Q-5:` Sales man name who has most no of unique customer.

### `Q-6:` Sales man who has generated most revenue. Show top 5.

### `Q-7:` List all customers who have made more than 10 purchases.

### `Q-8` : List all salespeople who have made sales to more than 5 customers.

### `Q-9:` List all pairs of customers who have made purchases with the same salesperson.

In [ ]:
select e.Total_Sales, p.`Name` from
(select sum(`Quantity`) as "Total_Sales", `ProductID` from sales1 group by `ProductID` order by Total_Sales desc limit 5) as e
join products p  on e.ProductID=p.ProductID order by e.Total_Sales desc

In [ ]:
#Q4
#soln1
select * from employees1 where `EmployeeID` = (select `SalesPersonID` from sales1 group by `SalesPersonID` order by sum(`Quantity`) desc limit 1)

#soln2 
select s.`SalesPersonID`, s.Total_Sales, e.`LastName` from
(select `SalesPersonID`, sum(`Quantity`) as 'Total_Sales' from sales1 group by `SalesPersonID` order by sum(`Quantity`) desc limit 1) as s
join employees1 e on e.`EmployeeID`=s.`SalesPersonID`

In [ ]:
select * from sales1

select * from products

select * from employees1

select * from cx

In [ ]:
#Q6
select sum(p.`Price`* s.`Quantity`) as "Total_Revenue", e.`FirstName` from sales1 s join products p on s.`ProductID`=p.`ProductID` join employees1 e on s.`SalesPersonID`= e.`EmployeeID` group by s.`SalesPersonID`,e.`FirstName` order by Total_Revenue desc limit 5

In [ ]:
#Q7
select s.Total_Purchases, e.`FirstName`, s.`CustomerID` from
(select count(*) as "Total_Purchases", `CustomerID` from sales1 group by `CustomerID` having Total_Purchases>10) as s
join employees1 e on e.`EmployeeID` = s.`SalesPersonID`

In [ ]:
#Q8
select count(distinct(s.`CustomerID`))  as "Total_CX", concat(e.`FirstName`," ", e.`LastName`) as "Sales Person Name" from sales1 s join employees1 e on e.`EmployeeID`= s.`SalesPersonID` group by s.`SalesPersonID`,e.`FirstName`, e.`LastName` having Total_CX >5

In [ ]:
select distinct (t1.`CustomerID`) as CX1, t2.`CustomerID` as CX2 from sales1 t1 join sales1 t2 on t1.`SalesPersonID`=t2.`SalesPersonID` where t1.`CustomerID` !=t2.`CustomerID`